<!-- TODO: Sacar a una directiva -->
<div class="row">
    <div class="col-md-12">
        <span>Porcentaje de completitud del test</span>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100" style="width: {{advncePercentaje}}%;">
                {{advncePercentaje}}%
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div ng-repeat="category in categories track by $index" ng-init="categoryIndex = $index" class="col-md-12">
        <div ng-if="$index+1 == pageIndex">
            <div class="panel {{categories[$index].completed?'panel-success':'panel-danger'}}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{category.title}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div ng-repeat="item in category.items track by $index" class="col-md-3">
                            {{$index}}
                            <input ng-disabled="categories[$parent.$index].completed" type="radio"> {{item}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" ng-disabled="!categories[$index].completed" ng-click="setCompleted($index,false)" class="btn btn-default"> Editar</button>
                        <button type="button" ng-disabled="categories[$index].completed" ng-click="setCompleted($index,true)" class="btn btn-success"> Completo</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>


<!--TODO: Sacar a una directiva -->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="a in range(1,categories.length) track by $index"><a ng-click="setPageIndex($index+1)">{{$index+1}}</a></li>
                <li>
                    <a aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>